<div>
  <%= image_tag menu.image_url(:thumb) %>
  <%= menu.title %>
  <%= menu.content %>
</div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">メニュー</h5>
    <p class="card-text"><%= menu.title %></p>
  </div>
  <ul class="list-group list-group-flush">
  </ul>
  <div class="card-body">
    <a href="#" class="card-link"><%= menu.content %></a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
