<%= form_with model: @post, local: true do |f| %>
  <p><%= f.label :title, "タイトル" %> <%= f.text_field :title %></p>
  <p><%= f.label :image, "画像" %> <%= f.file_filed :image, accept: "image/png,image/jpeg,image/gif" %></p>
  <p><%= f.submit "送信" %></p>
