<header>
  <nav class="navbar navbar-expand navbar-light">
    <a class="navbar-brand" href="#">やんばる保育園</a>
    <ul class="navbar-nav">
      <% if app_signed_in? %>
        <li class="nav-item active">
          <%= link_to "お便り帳", posts_path, class: 'navbar-brand' %>
        </li>
        <li class="nav-item active">
          <%= link_to "お問合せ", contacts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "献立", menus_path, class: 'navbar-brand' %>
        </li>
        <li class="nav-item active">
          <%= button_to "登園", welcomtimes_path, name: 'garden', class:"navbar-brand", method: :post %>
        </li>
        <li class="nav-item active">
          <%= button_to "降園", welcomtimes_path, name: 'garden', class:"navbar-brand", method: :post %>
        </li>
        <li class="nav-item active">
          <%= link_to 'ログアウト', destroy_app_session_path, method: :delete, class: 'nav-link',data: { confirm: "ログアウトしますか？" }  %>
        </li>
      </div>
    <% else %>
    <% end %>
  </ul>
</div>
</header>
