<div id="scroll_box" class="container" style="max-width: 1500px">
  <%= render @contacts %>
</div>
<div class="container-login" style="max-width: 1200px">
  <h1>お問合せ</h1>
  <%= form_with model: @contact, local: true do |form| %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
      <div class="field">
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
      </div>
      <div class="form-group">
        <%= form.file_field :image %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit "投稿する", class: "btn btn-primary "%>
      </div>
    <% end %>
  </div>
</div>
