<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <h1>家庭での様子</h1>
    <%= form_with model: [post ,@letter], local: true do |form| %>
      <div class="field">
        <%= form.label :body_temperature, "検温" %>
        <%= form.text_field :body_temperature %>
      </div>
      <div class="form-group">
        <%= form.label :content, "👶👦👧" %>
        <%= form.text_area :content, class: "form-control" %>
        <%= form.submit "投稿する", class: "btn btn-primary "%>
      </div>
    <% end %>
  </div>
