<div id="posts">
  <div class="card" style="width: 18rem;">
    <%= image_tag post.image_url(:thumb) if post.image.present? %>
    <h3 class="card-title">タイトル
      <p><%= post.title %></p>
    </h3>
    <p><%= link_to "編集", edit_post_path(post) %>
      <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "削除しますか？"} %></p>
    <h3 class="card-text">本文
      <p> <%= post.content %></p>
    </h3>
  </div>
</div>
