<div class="text-center">
  <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#saturdayModal">
    <i class="far fa-comment"></i> 土曜申請書
  </button>
</div>
<div class="container mt-5">
  <div class="modal fade" id="saturdayModal" tabindex="-1" role="dialog" aria-labelledby="saturdayModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saturdayModalLabel">土曜申請書</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_with model: @saturday_application, local: true do |form| %>
            <% 5.times do |i| %>
              <div class="field">
                <%= form.label :date , "日付"%>
                <div class="form-row">
                  <div class="col-5">
                    <%= form.text_field :date, class: "form-control saturday", name: "saturday_application[date][]" %>
                  </div>
                  <div class="col">
                    <%= form.text_field :start_time, class:"form-control saturday-start", name: "saturday_application[start_time][]" %>
                  </div>
                  <div class="d-flex align-items-center">〜</div>
                  <div class="col"><%= form.text_field :end_time, class:"form-control saturday-end", name: "saturday_application[end_time][]" %>
                  </div>
                </div>
              </div>
              <div class="field">
                <%= form.label :title ,"理由"%>
                <%= form.select :title, @saturday_application_list, {}, class: "custom-select", name: "saturday_application[title][]" %>
              </div>
            <% end %>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= form.submit "投稿する", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
