<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">やんばる保育園</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "お便り帳", posts_path, class: 'navbar-brand' %>
        <i class="fas fa-envelope-open-text"></i>
      </li>
      <li class="nav-item active">
        <%= link_to "お問合せ", contacts_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "献立", menus_path, class: 'navbar-brand' %>
      </li>
      <li class="nav-item active">
        <%= button_to "登園", welcomtimes_path, name: 'garden', class:"navbar-brand", method: :post %>
      </li>
      <li class="nav-item active">
        <%= button_to "降園", welcomtimes_path, name: 'garden', class:"navbar-brand", method: :post %>
      </li>
      <li class="nav-item active">
        <%= link_to 'ログアウト', destroy_app_session_path, method: :delete, class: 'nav-link',data: { confirm: "ログアウトしますか？" }  %>
      </li>
    </ul>
  </div>
</nav>
<p class="my-4"></p>
<div class="container-login" style="max-width: 1200px;">
  <%= render 'shared/flash_messages' %>
  <hr>
  <div id="posts">
    <%= render 'absence' %>
    <div class="row">
      <%= render @posts %>
    </div>
    <a href="https://1drv.ms/w/s!AmbzeXYYggEqjmztLc7bq-_cnBnO">お知らせ</a>
    <a href="https://1drv.ms/w/s!AmbzeXYYggEqjmqEuLo-juA4N6oZ">お知らせ２</a>
    <%= paginate @posts %>
    <p>年間行事</p>
  </div>
  <div class="googleCalendar">
    <iframe src="https://calendar.google.com/calendar/embed?src=3v7llda6u6j80rvvjvludk244k%40group.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
</div>
