<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">やんばる保育園</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "投稿一覧", posts_path, class: 'navbar-brand' %>
      </li>
      <li class="nav-item active">
        <%= link_to "お問合せ", contacts_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "献立", menus_path, class: 'navbar-brand' %>
      </li>
      <li class="nav-item active">
        <%= button_to "登園", welcomtimes_path, name: 'garden', class:"navbar-brand", method: :post %>
      </li>
      <li class="nav-item active">
        <%= button_to "降園", welcomtimes_path, name: 'garden', class:"navbar-brand", method: :post %>
      </li>
    </ul>
  </div>
</nav>
<div class="container-login" style="max-width: 1200px;">
  <%= render 'shared/flash_messages' %>
  <%= render 'shared/new' %>
  <hr>
  <div id="posts">
    <div class="container">
      <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLabel">
          <i class="far fa-comment"></i> 今日のつぶやき
        </button>
      </div>
      <div class="row">
        <%= render @posts %>
      </div>
      <a href="https://1drv.ms/w/s!AmbzeXYYggEqjmztLc7bq-_cnBnO">お知らせ</a>
      <a href="https://1drv.ms/w/s!AmbzeXYYggEqjmqEuLo-juA4N6oZ">お知らせ２</a>
      <%= paginate @posts %>
      <p>年間行事</p>
      <div class="cal_wapper">
        <div class="googlecal">
          <iframe src="https://calendar.google.com/calendar/embed?src=3v7llda6u6j80rvvjvludk244k%40group.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
